body {
  font-size: 18px;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.main-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-instructions {
  margin-top: 60px;
  margin-bottom: 30px;
  font-size: 18px;
}

.timer {
  font-size: 20px;
}

.go-next {
  font-size: 18px;
  margin-bottom: 20px;
  cursor: pointer;
}

.test-instructions {
  font-size: 18px;
  width: 600px;
  text-align: justify;
  margin-right: 100px;
}

.test-work-area {
  font-size: 18px;
  max-height: 90vh;
  width: 500px;
  overflow-y: auto;
}

.syllogism-box {
  width: 25px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 30px;
}

.topics {
  font-size: 18px;
  width: 500px;
  height: 800px;
}

.topics-text-box {
  font-size: 18px;
  border: 2px solid;
  padding: 25px;
  width: 80%;
  height: 800px;
}

.topic-in-progress-box {
  font-size: 18px;
  border: 1px solid;
  padding: 10px;
  margin-right: 20px;
  width: 250px;
  height: 15px;
}

.form-question {
  margin-bottom: 50px;
}

.long-answer {
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 40px;
  height: 200;
  width: 100%;
}

.short-answer {
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 100px;
  width: 100%;
}

.range-wrapper {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  display: flex;
  justify-content: space-between;
}

.range-element {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.range-input-wrapper {
  display: flex;
  justify-content: space-between;
}
