body {
  font-size: 18px;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.main-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-instructions {
  margin-top: 10vh;
  margin-bottom: 5vh;
  font-size: 18px;
}

.timer {
  font-size: 20px;
}

.go-next {
  font-size: 18px;
  margin-bottom: 3vh;
  cursor: pointer;
}

.test-instructions {
  font-size: 18px;
  width: 40vw;
  text-align: justify;
  margin-right: 10vw;
}

.test-work-area {
  font-size: 18px;
  max-height: 90vh;
  width: 60vw;
  overflow-y: auto;
}

.syllogism-box {
  width: 22vw;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-bottom: 3vw;
}

.topics {
  font-size: 18px;
  width: 50vw;
  height: 90vh;
}

.topics-text-box {
  font-size: 18px;
  border: 2px solid;
  padding: 2.5vh;
  width: 80%;
  height: 75vh;
}

.topic-in-progress-box {
  font-size: 18px;
  border: 1px solid;
  padding: 1vh;
  margin-right: 2vh;
  width: 25vw;
  height: 1.5vw;
}

.form-question {
  margin-bottom: 10vh;
}

.long-answer {
  font-size: 18px;
  margin-top: 2vh;
  margin-bottom: 4vh;
  height: 25vh;
  width: 100%;
}

.short-answer {
  font-size: 18px;
  margin-top: 2vh;
  margin-bottom: 2vh;
  height: 10vh;
  width: 100%;
}

.range-wrapper {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  display: flex;
  justify-content: space-between;
}

.range-element {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.range-input-wrapper {
  display: flex;
  justify-content: space-between;
}
