body {
  font-size: 20px;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.main-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-instructions {
  margin-top: 60px;
  margin-bottom: 20px;
  margin-left: 350px;
  margin-right: 350px;
  text-align: justify;
  font-size: 20px;
}

.main-instructions-more {
  margin-bottom: 20px;
  margin-left: 350px;
  margin-right: 350px;
  text-align: justify;
  font-size: 20px;
}

.main-instructions-consent-div {
  margin-left: 350px;
  margin-right: 350px;
  align-self: flex-start;
  display: flex;
  align-items: center;
  font-size: 20px;
  margin-top: -15px;
}

.main-instructions-consent-checkbox {
  cursor: pointer;
  transform: scale(1.2);
  margin-right: 3px;
}

.go-next {
  font-size: 16px;
  margin-bottom: 20px;
  cursor: pointer;
}

.hint {
  width: 400px;
  font-size: 20px;
  text-align: justify;
}

.chat-box {
  font-size: 16px;
  height: 30px;
  width: 100%;
}

.submit-answer {
  font-size: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

.chat-buttons {
  display: flex;
  justify-content: space-between;
}

.questionnaire-div {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: left;
}

.form-question {
  margin-bottom: 30px;
}

.form-dropdown {
  font-size: 20px;
}

.long-answer {
  font-size: 20px;
  margin-top: 2vh;
  margin-bottom: 20px;
  height: 100px;
  width: 100%;
}

.short-answer {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 100px;
  width: 100%;
}

.range-wrapper {
  width: 85%;
  margin-left: 7.5%;
  margin-right: 7.5%;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

.range-element {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.range-input {
  width: 200px;
}

.range-input-wrapper {
  display: flex;
  justify-content: space-between;
}
