body {
  font-size: 18px;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.main-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-instructions {
  margin-top: 10vh;
  margin-bottom: 5vh;
  margin-left: 20vw;
  margin-right: 20vw;
  text-align: justify;
  font-size: 20px;
}

.main-instructions-more {
  margin-bottom: 5vh;
  margin-left: 20vw;
  margin-right: 20vw;
  text-align: justify;
  font-size: 20px;
}

.go-next {
  font-size: 16px;
  margin-bottom: 3vh;
  cursor: pointer;
}

.hint {
  width: 30vw;
  font-size: 18px;
  text-align: justify;
}

.chat-box {
  font-size: 16px;
  height: 5vh;
  width: 100%;
}

.submit-answer {
  font-size: 18px;
  margin-bottom: 3vh;
  cursor: pointer;
}

.chat-buttons {
  display: flex;
  justify-content: space-between;
}

.questionnaire-div {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: left;
}

.form-question {
  margin-bottom: 10vh;
}

.long-answer {
  font-size: 18px;
  margin-top: 2vh;
  margin-bottom: 4vh;
  height: 25vh;
  width: 100%;
}

.short-answer {
  font-size: 18px;
  margin-top: 2vh;
  margin-bottom: 2vh;
  height: 10vh;
  width: 100%;
}

.range-wrapper {
  width: 85%;
  margin-left: 7.5%;
  margin-right: 7.5%;
  display: flex;
  justify-content: space-between;
}

.range-element {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.range-input {
  width: 15vw;
}

.range-input-wrapper {
  display: flex;
  justify-content: space-between;
}
