body {
  font-size: 18px;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.form-question {
  margin-bottom: 50px;;
}

.form-question-small-margin {
  margin-bottom: 15px;
}

.narrow {
  margin-left: 300px;
  margin-right: 300px;
}

.main-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-instructions {
  margin-top: 60px;
  margin-bottom: 30px;
  margin-left: 300px;
  margin-right: 300px;
  text-align: justify;
  font-size: 20px;
}

.go-next {
  margin-bottom: 60px;
  font-size: 16px;
  cursor: pointer;
}

.questionnaire-page {
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 60px;
  font-size: 18px;
  text-align: justify;
}

.long-answer {
  font-size: 18px;
  margin-top: 12px;
  height: 100px;
  width: 100%;
}

.short-answer {
  font-size: 18px;
  margin-top: 12px;
  margin-bottom: 12px;
  height: 100px;
  width: 100%;
}

.range-wrapper {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  display: flex;
  justify-content: space-between;
}

.range-element {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.range-input {
  width: 200px;
}

.range-input-wrapper {
  display: flex;
  justify-content: space-between;
}

.observation-to-respond {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}

.observation-text {
  text-align: center;
}

.observations-div {
  display: flex;
  justify-content: space-between;
}

.observations-subdiv {
  width: 45%;
}

.observation-response-button-div {
  display: flex;
  justify-content: center;
}

.observation-response-button {
  margin-top: 10px;
  margin-bottom: 50px;
  margin-left: 30px;
  margin-right: 30px;
  font-size: 16px;
  cursor: pointer;
}

.observation-li {
  cursor: pointer;
}
