body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.explanation-p {
  width: 40vh;
  font-size: 14px;
  text-align: justify;
}

.square {
  position: relative;
  height: 10vh;
  width: 10vh;
  outline-style: solid;
  outline-color: #555;
  outline-width: thin;
}

.bl-square {
  background-color: #b58863;
}

.wh-square {
  background-color: #f0d9b5;
}

.with-domino {
  z-index: 1;
}

.red-bl-square {
  background-color: #ff0000;
}

.red-wh-square {
  background-color: #ffaaaa;
}

.ghost-square {
  height: 10vh;
  width: 10vh;
  background-color: #fff;
}

.vertical-highlight {
  position: absolute;
  z-index: 2;
  height: 20vh;
  width: 10vh;
  background-color: #ff0000;
  opacity: 0.3;
}

.horizontal-highlight {
  position: absolute;
  z-index: 2;
  height: 10vh;
  width: 20vh;
  background-color: #ff0000;
  opacity: 0.3;
}

.board-outline {
  display: flex;
  flex-wrap: wrap;
  height: 80vh;
  width: 80vh;
  background-color: #FFF;

  margin-left: 5vh;
  margin-right: 5vh;
}

.domino-reservoir {
  display: flex;
  align-items: center;
  height: 20vh;
  width: 40vh;
}

.clear-board {
  position: relative;
  top: 5vh;
  left: 12.5vh;
  width: 15vh;
  font-size: 14px;
  cursor: pointer;
}

.rotator {
  margin-left: 2.5vh;
  margin-right: 5vh;
  height: 10vh;
  width: 10vh;
  cursor: pointer;
}

.vertical-domino {
  height: 20vh;
  width: 10vh;
  cursor: pointer;
}

.horizontal-domino {
  height: 10vh;
  width: 20vh;
  cursor: pointer;
}

.notepad {
  border: 2px solid;
  padding: 2.5vh;
  height: 90vh;
  flex-grow: 1;
  font-size: 14px;
}
