body {
  font-size: 18px;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.main-div {
  display: flex;
}

.explanation-div {
  min-width: 280px;
  max-width: 280px;
}

.explanation-p {
  min-width: 100%;
  font-size: 18px;
  text-align: justify;
}

.timer {
  width: 100%;
  font-size: 24px;
}

.square {
  position: relative;
  height: 60px;
  width: 60px;
  outline-style: solid;
  outline-color: #555;
  outline-width: thin;
}

.bl-square {
  background-color: #b58863;
}

.wh-square {
  background-color: #f0d9b5;
}

.with-domino {
  z-index: 1;
}

.red-bl-square {
  background-color: #ff0000;
}

.red-wh-square {
  background-color: #ffaaaa;
}

.blocking-x {
  height: 60px;
  width: 60px;
  cursor: pointer;
}

.ghost-square {
  height: 60px;
  width: 60px;
  background-color: #fff;
}

.vertical-highlight {
  position: absolute;
  z-index: 2;
  height: 120px;
  width: 60px;
  background-color: #ff0000;
  opacity: 0.3;
}

.horizontal-highlight {
  position: absolute;
  z-index: 2;
  height: 60px;
  width: 120px;
  background-color: #ff0000;
  opacity: 0.3;
}

.board-outline {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  height: 480px;
  width: 480px;
  min-height: 480px;
  min-width: 480px;
  background-color: #FFF;

  margin-left: 20px;
  margin-right: 20px;
}

.domino-reservoir {
  display: flex;
  align-items: center;
  height: 150px;
  width: 100%;
}

.clear-board {
  position: relative;
  top: 30px;
  left: 80px;
  width: 90px;
  font-size: 18px;
  cursor: pointer;
}

.rotator {
  margin-left: 50px;
  margin-right: 10px;
  height: 42px;
  width: 42px;
  cursor: pointer;
}

.vertical-domino {
  height: 120px;
  width: 60px;
  cursor: pointer;
}

.horizontal-domino {
  height: 60px;
  width: 120px;
  cursor: pointer;
}

.protocol-reminder {
  max-width: 480px;
  font-size: 24px;
  font-weight: bold;
  color: red;
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
}

.work-area {
  flex-grow: 1;
  position: relative;
}

.hint-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

.hint-overlay-background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0.5;
}

.hint-box {
  width: 70%;
  height: 20%;
  background: #fff;
  padding: 5%;
  border: 4px solid;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  z-index: 2;
}

.questionnaire-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.questionnaire-box {
  width: 70%;
  min-height: 60%;
  background: #fff;
  padding: 5%;
  border: 4px solid;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  z-index: 2;
}
.dismiss-hint {
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  margin: 0 auto;
}

.notepad {
  border: 2px solid;
  padding: 2.5vh;
  width: 90%;
  height: 360px;
  font-size: 18px;
}

.hint {
  width: 90%;
  font-size: 18px;
  text-align: justify;
}

.chat-div {
  width: 90%;
  margin-left: 5%;
}

.chat-box {
  font-size: 16px;
  height: 40px;
  width: 100%;
}

.submit-answer {
  font-size: 18px;
  margin-bottom: 18px;
  cursor: pointer;
}

.answer-div {
  font-size: 18px;
  width: 100%
}

.answer-text {
  border: 2px solid;
  padding: 2.5vh;
  width: 90%;
  height: 180px;
  font-size: 18px;
}

.form-question {
  margin-bottom: 6px;
  width: 90%;
}

.long-answer {
  font-size: 18px;
  height: 120px;
  width: 100%;
}

.short-answer {
  font-size: 18px;
  margin-top: 12px;
  margin-bottom: 12px;
  height: 60px;
  width: 100%;
}

.range-wrapper {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  display: flex;
  justify-content: space-between;
}

.range-element {
  display: flex;
  flex-direction: column;
  align-items: center;
}
