body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.explanation-p {
  width: 40vh;
  font-size: 14px;
  text-align: justify;
}

.square {
  position: relative;
  height: 10vh;
  width: 10vh;
  outline-style: solid;
  outline-color: #555;
  outline-width: thin;
}

.bl-square {
  background-color: #b58863;
}

.wh-square {
  background-color: #f0d9b5;
}

.with-domino {
  z-index: 1;
}

.red-bl-square {
  background-color: #ff0000;
}

.red-wh-square {
  background-color: #ffaaaa;
}

.blocking-x {
  height: 10vh;
  width: 10vh;
}

.ghost-square {
  height: 10vh;
  width: 10vh;
  background-color: #fff;
}

.vertical-highlight {
  position: absolute;
  z-index: 2;
  height: 20vh;
  width: 10vh;
  background-color: #ff0000;
  opacity: 0.3;
}

.horizontal-highlight {
  position: absolute;
  z-index: 2;
  height: 10vh;
  width: 20vh;
  background-color: #ff0000;
  opacity: 0.3;
}

.board-outline {
  display: flex;
  flex-wrap: wrap;
  height: 80vh;
  width: 80vh;
  min-height: 80vh;
  min-width: 80vh;
  background-color: #FFF;

  margin-left: 5vh;
  margin-right: 5vh;
}

.domino-reservoir {
  display: flex;
  align-items: center;
  height: 20vh;
  width: 40vh;
}

.clear-board {
  position: relative;
  top: 5vh;
  left: 12.5vh;
  width: 15vh;
  font-size: 16px;
  cursor: pointer;
}

.rotator {
  margin-left: 2.5vh;
  margin-right: 5vh;
  height: 10vh;
  width: 10vh;
  cursor: pointer;
}

.vertical-domino {
  height: 20vh;
  width: 10vh;
  cursor: pointer;
}

.horizontal-domino {
  height: 10vh;
  width: 20vh;
  cursor: pointer;
}

.work-area {
  flex-grow: 1;
  position: relative;
}

.hint-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.hint-overlay-background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0.5;
}

.hint-box {
  width: 70%;
  height: 20%;
  background: #fff;
  padding: 5%;
  border: 4px solid;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  z-index: 2;
}

.dismiss-hint {
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  margin: 0 auto;
}

.notepad {
  border: 2px solid;
  padding: 2.5vh;
  width: 90%;
  height: 60vh;
  font-size: 14px;
}

.timer {
  font-size: 24px;
}

.hint {
  width: 30vw;
  font-size: 16px;
}

.submit-answer {
  font-size: 16px;
  margin-bottom: 3vh;
  cursor: pointer;
}

.answer-div {
  height: 64vh;
  font-size: 16px;
}

.answer-text {
  border: 2px solid;
  padding: 2.5vh;
  width: 90%;
  height: 30vh;
  font-size: 14px;
}

