body {
  font-size: 18px;
  margin: 20px;
}

input {
  font-size: 18px;
}

.login-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.instructions {
  width: 50vw;
  margin-top: 20vh;
  margin-bottom: 40px;
  text-align: justify;
}

.instructions-more {
  width: 50vw;
  margin-bottom: 10vh;
  text-align: justify;
}
